* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f8fa;
}

.slider-container{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 1fr;
    margin: 5vh auto;
    background-color: #24292f;
}

.slider-images{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    /*border-radius: 1em;*/
}

.images-items{
    display: flex;
    width: 100%;/*
    transition: margin 2s ease-in-out;*/
}

.slider-text{/*
    margin-right: auto;*/
}

.text-items{
    width: 100%;
    display: flex;
    transition: margin 2s ease-in-out;
}

.text {
    display: block;
    width: 100%;
    color: #ffffff;
}

.slider-controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.dot{
    width: 1rem;
    height: 1rem;
    background-color: #6f95cb;
    border: .1rem solid #6f95cb;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0.2rem auto;
}

.slider-controls .dot:hover{
    background-color: #ffffff;
    border: .1rem solid #ffffff;
}

#slide-1:checked ~ #slider-images .images-items{
    transform: translateX(0);
    transition: transform 0.5s;
}
#slide-2:checked ~ #slider-images .images-items{
    transform: translateX(-100%);
    transition: transform 0.5s;
}
#slide-3:checked ~ #slider-images .images-items{
    transform: translateX(-200%);
    transition: transform 0.5s;
}
#slide-4:checked ~ #slider-images .images-items{
    transform: translateX(-300%);
    transition: transform 0.5s;
}

#slide-1:checked ~ #slider-text .text-items{
    transform: translateX(0);
    transition: transform 0.5s;
}
#slide-2:checked ~ #slider-text .text-items{
    transform: translateX(-100%);
    transition: transform 0.5s;
}
#slide-3:checked ~ #slider-text .text-items{
    transform: translateX(-200%);
    transition: transform 0.5s;
}
#slide-4:checked ~ #slider-text .text-items{
    transform: translateX(-300%);
    transition: transform 0.5s;
}

#slide-1:checked ~ #slider-controls .dot-1,
#slide-2:checked ~ #slider-controls .dot-2,
#slide-3:checked ~ #slider-controls .dot-3,
#slide-4:checked ~ #slider-controls .dot-4 {
    background-color: inherit;
    border: .1rem solid #6f95cb;
}

#slide-1:checked ~ #slider-controls .dot-1:hover,
#slide-2:checked ~ #slider-controls .dot-2:hover,
#slide-3:checked ~ #slider-controls .dot-3:hover,
#slide-4:checked ~ #slider-controls .dot-4:hover {
    border-color: #ffffff;
}




