* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f8fa;
}

.slider-container {
    width: 60rem;
    max-width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 1fr;
    margin: 5vh auto;
    background-color: #24292f;
    padding: 1rem;
    overflow: hidden;
    row-gap: 2rem;
}


/*картинки */

.slider-images {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    overflow: hidden;
    border-radius: 0.5em;
}

.images-items {
    display: flex;
    width: 400%;
    transition: margin 2s ease-in-out;

}

#slide-1:checked ~ #slider-images .images-items {
    transform: translateX(0);
    transition: transform 0.5s;
}

#slide-2:checked ~ #slider-images .images-items {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#slide-3:checked ~ #slider-images .images-items {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#slide-4:checked ~ #slider-images .images-items {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

/*текст*/

.slider-text {
    margin-right: auto;
    overflow: hidden;
}

.text-items {
    width: 400%;
    display: flex;
    transition: margin .1s ease;
}

.images-items img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.text {
    display: block;
    color: #FFF;
    width: 100%;
}

#slide-1:checked ~ #slider-text .text-items {
    transform: translateX(0);
    transition: transform 0.5s;
}

#slide-2:checked ~ #slider-text .text-items {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#slide-3:checked ~ #slider-text .text-items {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#slide-4:checked ~ #slider-text .text-items {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

/*контрол*/

.slider-controls {
    display: flex;
    align-items: flex-start;
    justify-content: right;
}

.dot {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #6f95cb;
    border: .1rem solid #6f95cb;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0.2rem 5px;
}

.dot::before {
    display: block;
    content: " ";
    width: 2rem;
    height: 2rem;
    margin-top: -10px;
    margin-left: -10px;
}

.slider-controls .dot:hover {
    background-color: #ffffff;
    border: .1rem solid #ffffff;
}

#slide-1:checked ~ #slider-controls .dot-1,
#slide-2:checked ~ #slider-controls .dot-2,
#slide-3:checked ~ #slider-controls .dot-3,
#slide-4:checked ~ #slider-controls .dot-4 {
    background-color: #24292f;
    border: .1rem solid #6f95cb;
}

#slide-1:checked ~ #slider-controls .dot-1:hover,
#slide-2:checked ~ #slider-controls .dot-2:hover,
#slide-3:checked ~ #slider-controls .dot-3:hover,
#slide-4:checked ~ #slider-controls .dot-4:hover {
    border-color: #ffffff;
}

/*медиа запросы*/

@media screen and (max-width: 1024px) {
    .slider-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.1fr 0.2fr;
        background-color: #24292f;
        row-gap: 1rem;
    }

    .slider-images {
        grid-column: 1 / 2;
    }

    .slider-text {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        grid-row: 3 / 4;
    }

    .slider-controls {
        margin: 0 auto;
        grid-row: 2 / 3;
    }

    .buttons .dot {
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        cursor: pointer;
        margin: 0 auto;
        background-color: #72ADFF;
        border: .1rem solid #72ADFF;
        border-radius: 50%;
    }
}

@media screen and (max-width: 622px) {
    .slider-container {
        grid-template-rows: 1fr 0.1fr 0.5fr;
    }

    .slider-text {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 382px) {
    .slider-container {
        grid-template-rows: 1fr 0.1fr 1fr;
    }
}



